.outline-border-bt {
    margin: auto 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #25a18e;
    border: #25a18e 1px solid;
    border-radius: 5px;
    padding: 7px 10px;
    text-decoration: none;
}
.outline-border-bt:hover {
    background-color: #25a18e;
    color: white;
}
.info-section {
    padding-left: 12%; 
    margin-bottom: 50px;
}
.info-section h2{
    color: #25a18e;
    border-left: 5px solid #25a18e;
    padding: 5px 8px;
    margin-bottom: 20px;
}
.info-section p {
    padding: 0 8px;
    text-align: justify;
    line-height: 25px;
    width: 90%;
    color: white;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 25px 35px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #142B44;
    background-color: #ffffff15;
    backdrop-filter: blur(30px);
    width: 250px;
}
.card:hover {
   background-color: #ffffff28; 
}
#carrossel .card h1 {
    font-size: 18px;
}
#carrossel .card p {
    font-size: 16px;
    font-style: italic; 
    text-align: justify;

}
.card #social-medias {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}
.card #social-medias a{
    width: 30px;
}
