* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #1d3354;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
header {
    z-index: 1;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #467599a2;
}
#logo {
    display: flex;

    img {
        width: 45px;
    }
    span {
        margin: auto 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 20px;
        cursor: default;
    }
}
#links {
    margin: auto;

    a {
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        margin: 10px 10px 0;
        text-decoration: none;
    }
}
#bt-newmsg {
    margin: auto 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border: #25a18e 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

#container {
    display: flex;
    height: 85vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-content: space-evenly;
    padding-left: 5vw;
}
#slogan {
    width: 50vw;
    margin: auto;
    p {
        font-size: 35px;
        font-style: italic;
        margin-bottom: 25px;
    }
    a {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        background-color: #47769acc;
        border-radius: 10px;
        text-decoration: none;
        padding: 10px;
        
    }
}
#decoration {
    width: 50%;
    img {
        position: absolute;
        z-index: 1;
        bottom: 2px;
        right: 15%;
        height: 98%;
        width: 200px;
    }
}
footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 883px) {
    #decoration {
        display: none;
    }
}
@media (max-width: 768px) {
    #links {
        display: none;
    }
    #decoration {
        display: none;
    }
}