@import url("./commonStyles.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d3354;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    margin: 10vh 0 20vh;
}
#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #ffffff0a;
    max-width: 70%;
    margin: 0 auto;
}
#container h1 {
    font-size: 50px;
}