<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoopChat - Cadastro</title>
  <link rel="stylesheet" href="../static/styleCadastroLogin.css">
</head>
<body>
  <div class="container">
    <div class="esquerda">
      <form class="formulario" method="POST" action="/cadastro">
        <h2 >Cadastrar nova conta</h2>
        <label for="nome">NOME DE USUÁRIO</label>
        <input type="text" id="nome" name="nome" required>
        <label for="email">EMAIL</label>
        <input type="email" id="email" name="email" required>
        <label for="senha">SENHA</label>
        <input type="password" id="senha" name="senha" required>
        <button type="submit">CADASTRAR</button>
        <p>Já Cadastrado? <a href="/login">Entrar em sua conta!</a></p>
      </form>
    </div>
    <div class="direita">
      <div class="logo">
        <img src="../static/src/BoopLogo.png" alt="logo" class="imagem"/>
        <h1>BoopChat</h1>
      </div>
    </div>
  </div>
</body>
</html>
