<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoopChat - Conversas</title>
    <link rel="shortcut icon" href="./../static/src/BoopLogo.png" type="image/x-png">
    <link rel="stylesheet" href="./../static/styleHome.css">
</head>
<body>
    <section id="last-chats-box">
       <div id="logo">
            <img src="../static/src/BoopLogo.png">
            <span>BoopChat</span>
        </div> 

        <div id="last-chats">
            <h2>Conversas</h2>
            <div id="individuals">
                {% for name in chats%}
                    <div class="chat-box">
                        <h1 class="name-chat">{{ name }}</h1>
                    </div>
                {% endfor %}
            </div>
            <h2>Grupos</h2>
            <div id="groups">
                <div class="chat-box">
                    <h1>Grupo 1</h1>
                    <span>Hello World! sfgdv svfs sdvdsfbf sfvsvfv fvsddrsf sddfv sdvs</span>
                </div>

                <div class="chat-box">
                    <h1>Grupo 2</h1>
                    <span>Hello World! sfgdv svfs sdvdsfbf sfvsvfv fvsddrsf sddfv sdvs</span>
                </div>
            </div>
        </div>
    </section>

    <section id="atual-chat-box">
        <div id="chat-profile">
            <h1></h1>
        </div>
        <div id="chat">
            <div id="messages">
                <div class="sent-message">
                    <span class="username">username</span>
                    <p>Hello World! lmbdkbmg  pbkdbm d pgdmbdgbpdm pdgbmgbpm pdbgmgdbpmd pgbdmgpbm ptbmdgpbm pbmdfbpmrsp ´dbm´dfbm</p>
                    <span class="date">22/05/2025 15:35</span>
                </div>
                <div class="sent-message">
                    <span class="username">username</span>
                    <p>Hello World! lmbdkbmg  pbkdbm d pgdmbdgbpdm pdgbmgbpm pdbgmgdbpmd pgbdmgpbm ptbmdgpbm pbmdfbpmrsp ´dbm´dfbm</p>
                    <span class="date">22/05/2025 15:35</span>
                </div>
            </div>
            <form id="controls" method="POST" action="chat">
                <input type="text" placeholder="Insira sua mensagem ..." name="mensagem">
                <button type="submit"><img src="./../static/src/send_icon.svg"></button>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>  
</body>
</html>