<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoopChat - Conversas</title>
    <link rel="shortcut icon" href="./../static/src/BoopLogo.png" type="image/x-png">
    <link rel="stylesheet" href="./../static/styleHome.css">
</head>
<body>
    <section id="pop-up">
        <div href=""><img src="./../static/src/close.svg"></div>
        <div id="pop-up-box">
           <h1>Nova Conversa</h1>
           <form action="/newchat" method="POST">
                <label for="email">EMAIL DO DESTINATÁRIO</label>
                <input type="email" name="email" id="email" placeholder="Digite o email do destinatário">
                <label for="msg">MENSAGEM</label>
                <textarea name="msg" id="msg" placeholder="Digite sua mensagem"></textarea>

                <button type="submit">ENVIAR</button>
           </form>

        </div>
    </section>
    <section id="last-chats-box">
       <div id="logo">
            <img src="../static/src/BoopLogo.png">
            <span>BoopChat</span>
        </div> 
        <div id="new-chat"><img src="./../static/src/new-chat.svg"> Nova Conversa</div>
        <div id="last-chats">
            <h2>Conversas</h2>
            <div id="individuals">
                {% for name in chats%}
                    <div class="chat-box">
                        <h1 class="name-chat">{{ name }}</h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="atual-chat-box">
        <div id="chat-profile">
            <h1></h1>
            <div id="profile">
                <span>Olá, {{user[0]}}</span>
                <a href="/logout"><img src="./../static/src/turn-off.svg"></a>
            </div>
        </div>
        <div id="chat">
            <div id="messages">
                {% for msg in msgs %}
                    <div class="sent-message">
                        {% if msg[1] == userid %}
                            <span class="username">{{ dest }}</span>
                        {% else %}
                            <span class="username">{{ user }}</span>
                        {% endif %}
                        <p>{{ msg[3] }}</p>
                        <span class="date">{{ msg[4] }}</span>
                    </div>
                {% endfor %}
                
            </div>
            <form id="controls" method="POST" action="chat">
                <input type="text" placeholder="Insira sua mensagem ..." name="mensagem">
                <button type="submit"><img src="./../static/src/send_icon.svg"></button>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script> 
    <!-- <script src="./../static/js/main.js"></script> -->
</body>
</html>