<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro - {{ tipo_erro }}</title>
    <link rel="stylesheet" href="./../static/styleErros.css">
</head>
<body>
    <div id="logo">
        <img src="../static/src/BoopLogo.png">
        <span>BoopChat</span>
    </div>
    <div id="container">
        <h1>Erro - {{tipo_erro}} :(</h1>
        <span>{{ erro }}</span>
        <a href="/chat" class="outline-border-bt">Retornar</a>
    </div>
</body>
</html>