<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoopChat</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="../static/src/BoopLogo.png">
            <span>BoopChat</span>
        </div>
        <div id="links">
            <a href="./infos.html">Como funciona?</a>
            <a href="./infos.html">Sobre o projeto</a>
        </div>
        <a id="bt-newmsg" href="./login.html" class="outline-border-bt">Inicie uma conversa</a>
    </header>

    <div id="container">
        <div id="slogan">
            <p>
                Converse com o mundo!<br>
                Sem rastros,<br>
                Só boop!
            </p>
            <div id="new-chat">
                <a href="./login.html">Inicie uma nova conversa</a>
                <img src="./../static/src/right-arrow.svg">
            </div>
            
        </div>
        <div id="decoration">
            <img src="../static/src/decoration-main-page.png">
        </div>
    </div>
    <footer>
        <span>By Dugtrio</span>
    </footer>
</body>
</html>