<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoopChat - Sobre</title>
    <link rel="shortcut icon" href="./../static/src/BoopLogo.png" type="image/x-png">
    <link rel="stylesheet" href="./../static/styleInfos.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="../static/src/BoopLogo.png">
            <span>BoopChat</span>
        </div>
        <a id="bt-newmsg" href="./login.html" class="outline-border-bt">Inicie uma conversa</a>
    </header>

    <div id="container">
        <a id="return" class="outline-border-bt" href="./index.html">Voltar</a>

        <div id="about">
            <h1>SOBRE O PROJETO</h1>

            <section id="how-to-work" class="info-section">
                <h2>INFORMAÇÕES DO PROJETO</h2>
                <p>Este projeto é um chat que conecta pessoas do mundo inteiro em conversas anônimas. Embora seja necessário fazer login para o uso da plataforma, nenhuma informação pessoal ou nome real é exibido. As conversas promovem interações espontâneas e livres. Ao final de cada sessão, todas as mensagens são automaticamente apagadas, garantindo a privacidade e a efemeridade das trocas. A proposta é oferecer um espaço de diálogo aberto, respeitoso e sem rastros.</p>
            </section>
            <section id="developers"class="info-section">
                <h2>DESENVOLVEDORES</h2>
                <div id="carrossel">
                    <div class="card">
                        <h1>Joaquim Brasiliano</h1>
                        <p>descricao</p>
                        <div id="social-medias">
                            <a href="https://www.linkedin.com/in/joaquim-brasiliano-gon%C3%A7alves-a621a7206/" target="_blank">
                                <img id="linkedin"  src="./../static/src/linkedin_icon.svg">
                            </a>
                            <a href="https://github.com/JbJet" target="_blank">
                                <img id="github" src="./../static/src/github_icon.svg">
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <h1>Orlando Luiz</h1>
                        <p>descricao</p>
                        <div id="social-medias">
                            <a href="https://www.linkedin.com/in/orlando-luiz-09a7522b9/" target="_blank">
                                <img id="linkedin"  src="./../static/src/linkedin_icon.svg">
                            </a>
                            <a href="https://github.com/OrlandoLuiz154" target="_blank">
                                <img id="github" src="./../static/src/github_icon.svg">
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <h1>Ryan Pablo</h1>
                        <p>descricao</p>
                        <div id="social-medias">
                            <a href="https://www.linkedin.com/in/ryanpacosta/" target="_blank">
                                <img id="linkedin"  src="./../static/src/linkedin_icon.svg">
                            </a>
                            <a href="https://github.com/ryanpabloac" target="_blank">
                                <img id="github" src="./../static/src/github_icon.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="stack" class="info-section">
                <h2>TECNOLOGIAS ENVOLVIDAS</h2>
                <div id="techs">
                    <img src="./../static/src/python_logo.svg" class="card tech">
                    <img src="./../static/src/flask_logo.svg" class="card tech">
                    <img src="./../static/src/aws_logo.svg" class="card tech">
                    <img src="./../static/src/html_logo.svg" class="card tech">
                    <img src="./../static/src/css_logo.svg" class="card tech">
                    <img src="./../static/src/mongo_logo.svg" class="card tech">

                </div>
            </section>
        </div>
    </div>
</body>
</html>