<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoopChat - Entrar</title>
  <link rel="stylesheet" href="../static/styleCadastroLogin.css">
</head>
<body>
  <div class="container">
    <div class="esquerda">
      <div class="logo">
        <img src="../static/src/BoopLogo.png" alt="logo" class="imagem"/>
        <h1>BoopChat</h1>
      </div>
    </div>
    <div class="direita">
      <form class="formulario" method="POST" action="/login">
        <h2>Entrar em sua conta</h2>
        <label for="email">EMAIL</label>
        <input type="email" id="email" name="email">
        <label for="senha">SENHA</label>
        <input type="password" id="senha" name="senha">
        <button type="submit">ENTRAR</button>
        <p>Novo usuário? <a href="/cadastro">Cadastre-se!</a></p>
      </form>
    </div>
  </div>
</body>
</html>
